.autoAction{
    width: 200px;
}
.autoList{
    background-color: ivory;
    margin-top: -6px;
    display: none;
    position: absolute;
}
.autoList li{
    width: 180px;
    display: block;
    float: none;
    margin-left: -20px;
    cursor: pointer;
}
.autoList li:hover{
    background-color: #333;
    color: white;
}